body { background: transparent url(images/paisley_royal_theme/background.jpg) repeat right top; }
a { color:#FFFFFF; }
a:hover, a.selected { color:#FF9000; }

.right_links, .right_links a { color:#000; }
.right_links a:hover,.right_links a.selected { color:#FF9000 !important; }

#top_buttons, #top_buttons ul, #top_buttons ul li ul li {
    background: transparent url(images/paisley_royal_theme/nav_bg.jpg) repeat-x;
}
.summary_btn { 
    background:url(images/paisley_royal_theme/summary_btn.jpg) no-repeat left top ;
}
.clients_btn { 
    background:url(images/paisley_royal_theme/clients_btn.jpg) no-repeat left top ;
}
.quotation_btn { 
    background:url(images/paisley_royal_theme/quotation_btn.jpg) no-repeat left top ;
}
.invoices_btn { 
    background:url(images/paisley_royal_theme/invoices_btn.jpg) no-repeat left top ;
}
.statement_btn { 
    background:url(images/paisley_royal_theme/statement_btn.jpg) no-repeat left top ;
}
.payment_btn { 
    background:url(images/paisley_royal_theme/payment_btn.jpg) no-repeat left top ;
}
.pricing_btn { 
    background:url(images/paisley_royal_theme/pricing_btn.jpg) no-repeat left top ;
}


.btn_style {
    background: transparent url(images/paisley_royal_theme/btn_bg.png) repeat-x left bottom;
    border:2px solid #ADBFC9;
    color:#000;
}
.current {
    color:#FF9000;
}

#maincontent {
    background-color:#E5E5DD;
}
#subcontent {
    opacity:100;
    background-color:#fff;
}
.page_header {
    background: transparent url(images/paisley_royal_theme/heading_bg.png) repeat-x;
}
.page_header h2 { color:#000; }
.page_header .addnew { color:#000; }
.page_header .text_links, .page_header .text_links a { color:#4782A0; }


.contents {
    border-top:1px solid #E1E2DE;
}
.list { border:1px solid #C2D0D6; border-right:0px solid #C2D0D6; }
.list th{ 
    background: transparent url(images/paisley_royal_theme/action_bar_bg.jpg) repeat-x;
    color:#000;
}
.list th, .list td { border-right:1px solid #C2D0D6; }
.list td { background-color:#fff; }
.list tr.altrow td { background-color:#E7EFF2; }
.list tr.footer td { background-color:#C2D0D6; }
.list .asc { 
    background: transparent url(images/paisley_royal_theme/arrow_up.png) no-repeat;
}
.list .desc { 
    background: transparent url(images/paisley_royal_theme/arrow_down.png) repeat-x;
}