body{text-decoration:none; padding:0px; margin:0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
h1,h2,h3,h4,h5,h6{padding:0px; margin:0px; font-weight:normal;}
h1 {
	font-weight:bold;
}

p{padding:0px; margin:0px;}
form{padding:0px; margin:0px;}
.clear{clear:both;}
.fleft{float:left;}
.fright{float:right;}
a{text-decoration:none; outline-style:none; color:#483bed}
a:hover, a.selected { color:#67982B; color:#FF9000; }
.cursor{cursor:pointer;}

#wrapper{
	
	 width:100%;
	position:relative;
		margin:0 auto;
}
#head{
   width:100%;
   background-color: #67982B;
   height: 82px;
}
#head-left{
	background:url(../images/logoAdmin.jpg) no-repeat center top ;	
	height:82px;
	float:left;
	width:51%;
	background-color:#67982B;
}
#head-left-new{
	background:url(../images/logo_new.jpg) no-repeat left top ;	
	height:82px;
	float:left;
	width:51%;
}
#head-right{
	background-color:#67982b;
	float:right;
	width:49%;
	height:82px;
}
.logout {
    padding:5px 52px 10px;
    float:right;
    color:#FFFFFF;
}
.settings {
    clear:both;
    float:right;
    color:#FFFFFF;
    padding-right:40px;
}
.logout a, .settings a{
    color:#FFFFFF;
    text-decoration:underline;
}
.back a{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
text-decoration:underline;
}
#top-buttons{
 height:35px;
}
ul.buttons
{
list-style-type:none;
margin:20px 0 0 20px;
#padding:20px 0 20px 20px;
padding:0px;
}
.button{
 display:inline;
 vertical-align:baseline;
}
.grey-head{
 width:97%;
 background-color:#e7eaf9;
 height:45px;
 margin-left:20px; 
 
}
span#greyhead-left img{
  margin:9px 0 0 0;
}
span#greyhead-right{
 float:right;
 margin:10px 50px 0 0;
 position:relative;
 #margin:-5px 50px 0px 0;
 #bottom:18px;  
}
.hr
{
 #clear:both;
 width:97%;
 border:2px solid #7688a8;
 margin:0 0 0 20px; 
 #margin:15px 0 0 0; 
}
.action{
height:30px;
width:97%;
margin-left:20px;
padding-top:10px;
}
.sort
{
width:97%;
margin-left:20px;
height:40px;
}
.client-display{
width:97%;
margin-left:20px;
}
.client-display-table{
width:100%;
text-align:left;

}
.client-display-table {border:1px solid #dfdfdf}
.client-display-table td{padding-left:5px;padding-right:5px; line-height:15px;}
.thead{background-color:#dfdfdf;padding-left: 5px;}
.thead_new{background-color:#3B4E87;padding: 5px; color:#fff;}
.thead span{ position:relative;top:-4px;}
.thead font{ }
.odd{background-color:#fff;}
.even{background-color:#efefef;}
.odd strong, .even strong{color:#363636;}
.inputbox-green{
 border:1px solid #a8b394;
 border-radius: 3px 3px 3px 3px;
}
.invoicetextbox-green
{
 border:1px solid #a8b394;
 background-color:#ebeae5;
}

.invoicetextboxtxt-green
{
 border:1px solid #a8b394;
 
}
span.addclient{

 margin-top:20px;
}
.search-bt{
  border:1px solid #445C12;background-color:#FBF9EA;border-radius: 3px 3px 3px 3px;
}
.summary1
{
width:10%;
margin-left: 40px;
border:1px solid #FF6600;
height: 250px;
}
.summary2
{
width:40%;
border:1px solid #FF6600;
}
.summary3
{
width:30%;
border:1px solid #FF6600;
}
.summarytxt {
font-family:Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color:#336600;
}
.sodd{

background-color:#fff;}
.seven{

background-color:#efefef;}
.msg {
font-family: Arial, Helvetica, sans-serif;
color:#006600;
font-size: 14px;
font-weight: normal;
}
.center
{
color:#666666;
margin-left:470px;
}
.newinvoice{
width:60%;
margin:0 auto;
font-size:14px;
font-weight:bold;
}
.send-credits{
width:100%;
margin:0 auto;
}
.sc-head{
background-color:#ff9400;
color:#fff;
}
.sc-subhead{
background-color:#8cc03a;
color:#fff;
}
.sc-values{
background-color:#eaf6c8;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#003300;
font-weight: normal;
}
.total{
background-color:#dfdfdf;
color:#000000;
}
.additem {
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:14px;
text-decoration:underline;
color:#003300;
}
.additem a {
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:14px;
text-decoration:underline;
color:#003300;
}
.sc-valuesalt{

font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#003300;
font-weight: normal;
}

.sc-text{
background-color:#eaf6c8;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight: normal;
}

.sc-textalt{

font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
font-weight: normal;
}
.summary{
width:80%;
margin:0 auto;
padding-top:30px;
}
.sum-left
{
 float:left;
 border:1px solid #fd7f0e;
 width:25%;
}
.sum-mid
{
 margin-left:5%;
 border:1px solid #fd7f0e;
 width:40%;
 float:left;
}
.sum-right
{
 border:1px solid #fd7f0e;
 float:right;
 width:25%;
}
.sum-lg-title{

 width:25%;
 float:left;

}
.sum-rg-title{

 float:right;
 width:25%;

}
.sum-mg-title{

 width:40%;
 float:left;
  margin-left:5%;

}
.green-text
{
 color:#6f9035;
 font-weight:bold;
}
.sum-title
{
color:#6f9035;
font-weight:bold;
padding:0 0 5px 5px;
}

.save{
width:95px;
height: 38px;
padding-right:170px;  
margin-bottom: 50px;
background: transparent url(../AdminSystemImages/button_invoicesSave.jpg) no-repeat;
text-indent: 50em;
border:0px;


}
.send{
width:114px;
height: 38px;
margin-bottom: 50px;
background: transparent url(../AdminSystemImages/button_invoicesSend.jpg) no-repeat;
text-indent: 50em;
border:0px;
}




.textbox {
    border:1px solid #a8b394;
    width:250px;
    padding:4px;
    margin:2px 0px 2px 4px;
}
.color {
    width:70px;
}
.message {
    width:97%;
    height:15px;
    text-align:center;
    padding:5px 0px;
    font-weight:bold;
    color:green
}
label.error {
    color:red;
    padding-left:10px;
}


#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:380px;
}
 
#tooltip .tipHeader {
    height:0px;
}
 
/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
    background-color:#67982B;
    padding:5px 5px 5px 15px;
}
 
#tooltip .tipFooter {
    height:0px;
}


.mainhead { 
    font-size:15px !important;
    font-weight:bold;
    margin:7px 0px 7px 20px;
    color:green;
}        
.mainhead_new { 
    font-size:15px !important;
    font-weight:bold;
    margin:7px 0px 7px 300px;
    color:#000;
}        

.newbtn {
    background-color:#D4DBE8;
    color:#F7873F;
}

.head_links
{
    text-align:right;
    float:right;
    padding:14px 0px;
}

.normalbold
{
font-weight:bold;
}
.normaltext
{
}
.border_bottom td { border-bottom:1px solid #000; height:20px;}
.account_summary { color:#000; background-color:#BCC5E1; font-weight:bold; height:23px; padding-left:5px;}

.pagination {
    padding:10px 0px;
    margin-left:20px;
    margin-right:20px;
    height:20px;
}

.send-credits th { padding-left:10px; }