body { text-decoration:none; padding:0px; margin:0px; font-family: Arial, Helvetica, sans-serif; font-size:12px; }
h1,h2,h3,h4,h5,h6 { padding:0px; margin:0px; font-weight:normal; }
h1 { font-weight:bold; }
p { padding:0px; margin:0px; }
form { padding:0px; margin:0px; }
.clear { clear:both; }
.fleft { float:left; }
.fright { float:right; }
.fcenter { float:left; margin-left:20px; }
a { text-decoration:none; outline-style:none; }
table, tr, td, th { font-weight:normal; }
.cursor { cursor:pointer; }


#wrapper {
    width:95%;
    position:relative;
    margin:0 auto;
}
#wrapper { background: transparent url(images/top_kisses.png) no-repeat top right; }

#head {
    width:100%;
    height: 130px;
    padding:3px 0px 3px 3px;
    margin:0px;
    overflow:hidden;
}


.summary_btn { 
    width:138px;
}
.clients_btn { 
    width:111px;
}
.quotation_btn { 
    width:137px;
}
.invoices_btn { 
    width:121px;
}
.statement_btn { 
    width:135px;
}
.payment_btn { 
    width:127px;
}
.pricing_btn { 
    width:113px;
}

#head_left {
    float: left;
    margin-top: 8px;
    height: 118px;
    margin-left:10px;
}
.logo { float:left; height:106px; background:#fff; padding:20px 10px 10px 10px;}
.head_left { background: url(images/logo_bg_left.png) no-repeat left top; }
.head_right { background:url(images/logo_bg_right.png) no-repeat left top; }
.head_left, .head_right { width:40px; height:150px; display:inline-block; float:left; }

#head_right {
    float:right;
    width:42%;
    max-height:82px;
    text-align:right;
    margin-right:10px;
}
#head_right div { clear:both; }
.right_links .login { padding-top:10px; }
.right_links .submenu { padding-top:5px; }
.right_links, .right_links a { color:#fff; }


#top_buttons, #top_buttons ul {
    margin:0px;
    padding:0px;
    height:45px;
    clear:both;
}
#top_buttons ul li {
    list-style:none;
    display:inline-block;
    float:left;
}
#top_buttons ul li a {
    height:45px;
    display:inline-block;
}


.btn_style {
    margin:0px;
    padding:0px;
    border-radius: 6px;
    min-width:15px;
    text-align:center;
    font-weight:normal;
    padding:0px 15px;
    cursor:pointer;
}
.current, .inactive {
    cursor:default !important;
}
.inactive {
    color:#ABADB3 !important;
}

#maincontent {
    padding:15px;
}
.page_header {
    margin:0px;
    padding:0px;
    height:40px;
    
    padding:0px 15px 0px 20px;
}
.page_header h2 { font-size:18px; font-weight:bold; float:left; }
.page_header .addnew { margin-left:40px; padding-top:2px; }
.page_header .delete { margin-left:10px; }
.page_header .addnew .btn_style { padding:0px 2px; }
.page_header .addnew span { margin-top:2px; display:inline-block; }
.page_header .search { margin-left:20px; float:left; display:inline-block; }
.page_header .search .inputbox { width:100px; border-radius: 4px; }
.page_header .text_links { padding-top:14px; }
.page_header .pagination { padding-top:14px; }
.page_header .pagination .btn_style { padding:0px 4px; margin-left:3px; }

.padding_top { padding-top:10px; }

.contents {
    padding:10px 20px;
}
.list { border:1px solid #BCBD9B; border-right:0px solid #BCBD9B; }
.list th{ 
    height:30px;
    font-size:12px;
    font-weight:bold;
}
.list th, .list td {
    text-align:left;
    padding:5px 10px 5px 10px;
} 
.list td { background-color:#fff; font-size:12px; height:25px;}
.list tr.altrow td { }
.list .btn_style { padding:0px 5px; border-radius: 4px; }
.list .asc, .list .desc { 
    width:10px;
    height:14px;
    display:inline-block;
}
.list .asc { 
    margin-left:20px;
}
.list .desc { 
    margin-left:3px;
}
.addedit td { border-width:0px !important; }
.addedit td:last-child { border-width:1px !important; }

.backlink { float:right; padding-right:20px; }
.addedit_btn { text-align:left; padding:10px; }
.dashboard { float:left; width:48%; margin-left:2%; }
.dashboard h2 { padding-bottom:10px; }
.addedit_btn .btn_style { height:25px; }

/* Old styles */
.textbox {
    border:1px solid #a8b394;
    width:250px;
    padding:4px;
    margin:2px 0px 2px 4px;
}
.textarea {
    border:1px solid #a8b394;
    width:350px;
    padding:4px;
    margin:2px 0px 2px 4px;
    height:80px
}
.msg {
    font-family: Arial, Helvetica, sans-serif;
    color:#006600;
    font-size: 14px;
    font-weight: normal;
}
.norecords {
    width:97%;
    height:15px;
    text-align:center !important;
    padding:5px 0px;
    font-weight:normal;
    color:red;
}
label.error {
    color:red;
    padding-left:10px;
}

/* tooltip */
#tooltip { position:absolute; z-index:9999; color:#fff; font-size:10px; width:380px; }
#tooltip .tipHeader { height:0px; }
*html #tooltip .tipHeader { margin-bottom:-6px; }
#tooltip .tipBody { background-color:#67982B; padding:5px 5px 5px 15px; }
#tooltip .tipFooter { height:0px; }


/*------------------------------Messages --------------------------------------------------------------*/

.message {	-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;	font-weight:normal;	overflow:hidden;	padding:10px 15px 10px 32px;	min-height:16px;	width:96%;margin:0 auto;	 z-index:999;/*left:10%;position:fixed;*/ margin-bottom:5px; }
.message p {	float:left;	padding:1px 0 0 23px;	color:#0656FF;}
.message ul li {float:left;	padding:0;	width:93%;	font-size:12px;	}
.message.errormsg {	background:url("images/error.gif") no-repeat scroll 12px 12px #FFECCE;	border:1px solid #E9C59B;	color:#E3302C;	top:150px;}
.message.successmsg {	background:url("images/success.gif") no-repeat scroll 12px 12px #EDFBD8;	border:1px solid #BFDE84;	color:#508600;	top:200px;}
.infomsg {	background:url("images/info.gif") no-repeat scroll 12px 12px #ECF9FF;	border:1px solid #BBDBE0;	color:#0888C3;	top:250px;}
.warningmsg {	background:url("images/warning.gif") no-repeat scroll 12px 12px #FEFDE2;	border:1px solid #E5E181;	color:#666666;	top:300px;}
.message .close {	background:url("images/close.png") no-repeat scroll 0 0 transparent;	cursor:pointer;	display:block;	float:right;	height:16px;	opacity:0.7;	width:16px;}
.message .close.hover {opacity:1;}
*html .message {height:16px;}

.moduleContainer{
	padding-left: 15px; 
	height:auto;
	overflow: hidden;


}

.adminHead { 
	padding-left: 5px; 
	height: 20px; 
	padding-top:7px; 
    height:20px;
    font-size:15px !important;
    font-weight:bold;

}


.moduleName { 
	padding-left: 10px; 
	padding-top:7px;
	width: 200px;
	position: relative;
	float: left;
}

.clear {
    clear: both;
}

