a.summary_btn {
    background:url(images/theme1/summary_btn.png) no-repeat left top ;
}
a.summary_btn:hover, a.summary_btn.selected {
    background:url(images/theme1/summary_btn_hover.png) no-repeat center top ;
}

a.user_btn {
    background:url(images/theme1/user_btn.png) no-repeat left top ;
}
a.user_btn:hover, a.user_btn.selected {
    background:url(images/theme1/user_btn_hover.png) no-repeat center top ;
}

a.invoice_btn {
    background:url(images/theme1/invoice_btn.png) no-repeat left top ;
}
a.invoice_btn:hover, a.invoice_btn.selected {
    background:url(images/theme1/invoice_btn_hover.png) no-repeat center top ;
}
a.quotation_btn {
    background:url(images/theme1/quotation_btn.png) no-repeat left top ;
}
a.quotation_btn:hover, a.quotation_btn.selected {
    background:url(images/theme1/quotation_btn_hover.png) no-repeat center top ;
}

a.profile_btn {
    background:url(images/theme1/profile_btn.png) no-repeat left top ;
}
a.profile_btn:hover, a.profile_btn.selected {
    background:url(images/theme1/profile_btn_hover.png) no-repeat center top ;
}

a.account_btn {
    background:url(images/theme1/account_btn.png) no-repeat left top ;
}
a.account_btn:hover, a.account_btn.selected {
    background:url(images/theme1/account_btn_hover.png) no-repeat center top ;
}

a.payment_btn {
    background:url(images/theme1/payment_btn.png) no-repeat left top ;
}
a.payment_btn:hover, a.payment_btn.selected {
    background:url(images/theme1/payment_btn_hover.png) no-repeat center top ;
}

a.pricing_btn {
    background:url(images/theme1/pricing_btn.png) no-repeat left top ;
}
a.pricing_btn:hover, a.pricing_btn.selected {
    background:url(images/theme1/pricing_btn_hover.png) no-repeat center top ;
}

