body { background: #00B0E1; }

.right_links, .right_links a { color:#fff; }

#top_buttons, #top_buttons ul {
    background: transparent url(../images/blue_theme/nav_bg.jpg) repeat-x;
}
.summary_btn { 
    background:url(../images/blue_theme/summary_btn.jpg) no-repeat left top ;
}
.clients_btn { 
    background:url(../images/blue_theme/clients_btn.jpg) no-repeat left top ;
}
.quotation_btn { 
    background:url(../images/blue_theme/quotation_btn.jpg) no-repeat left top ;
}
.invoices_btn { 
    background:url(../images/blue_theme/invoices_btn.jpg) no-repeat left top ;
}
.statement_btn { 
    background:url(../images/blue_theme/statement_btn.jpg) no-repeat left top ;
}
.payment_btn { 
    background:url(../images/blue_theme/payment_btn.jpg) no-repeat left top ;
}
.pricing_btn { 
    background:url(../images/blue_theme/pricing_btn.jpg) no-repeat left top ;
}


.btn_style {
    background: transparent url(../images/blue_theme/btn_bg.png) repeat-x left bottom;
    border:2px solid #9CDBEC;
    color:#000 !important;
}

#maincontent {
    background-color:#B4E6F3;
}
#subcontent {
    background-color:#fff;
}
.page_header {
    background: transparent url(../images/blue_theme/heading_bg.png) repeat-x;
}
.page_header h2 { color:#000; }
.page_header .addnew { color:#000; }
.page_header .text_links, .page_header .text_links a { color:#20BDD7; }


.contents {
    border-top:1px solid #E1E2DE;
}
.list { border:1px solid #99D9EC; border-right:0px solid #99D9EC; }
.list th{ 
    background: transparent url(../images/blue_theme/action_bar_bg.jpg) repeat-x;
    color:#000;
}
.list td { border-right:1px solid #99D9EC; }
.list td { background-color:#fff; }
.list tr.altrow td { background-color:#EEF9FD; }
.list .asc { 
    background: transparent url(../images/blue_theme/arrow_up.png) no-repeat;
}
.list .desc { 
    background: transparent url(../images/blue_theme/arrow_down.png) repeat-x;
}