body { background: transparent url(../images/pink_hearts_theme/background.jpg) repeat; }

.right_links, .right_links a { color:#fff; }

#top_buttons, #top_buttons ul {
    background: transparent url(../images/pink_hearts_theme/nav_bg.jpg) repeat-x;
}
.summary_btn { 
    background:url(../images/pink_hearts_theme/summary_btn.jpg) no-repeat left top ;
}
.clients_btn { 
    background:url(../images/pink_hearts_theme/clients_btn.jpg) no-repeat left top ;
}
.quotation_btn { 
    background:url(../images/pink_hearts_theme/quotation_btn.jpg) no-repeat left top ;
}
.invoices_btn { 
    background:url(../images/pink_hearts_theme/invoices_btn.jpg) no-repeat left top ;
}
.statement_btn { 
    background:url(../images/pink_hearts_theme/statement_btn.jpg) no-repeat left top ;
}
.payment_btn { 
    background:url(../images/pink_hearts_theme/payment_btn.jpg) no-repeat left top ;
}
.pricing_btn { 
    background:url(../images/pink_hearts_theme/pricing_btn.jpg) no-repeat left top ;
}


.btn_style {
    background: transparent url(../images/pink_hearts_theme/btn_bg.png) repeat-x left bottom;
    border:2px solid #B0B09C;
    color:#000 !important;
}

#maincontent {
    background-color:#FCD7DF;
}
#subcontent {
    background-color:#fff;
}
.page_header {
    background: transparent url(../images/pink_hearts_theme/heading_bg.png) repeat-x;
}
.page_header h2 { color:#000; }
.page_header .addnew { color:#000; }
.page_header .text_links, .page_header .text_links a { color:#F099AC; }


.contents {
    border-top:1px solid #E1E2DE;
}
.list { border:1px solid #E1B1BD; border-right:0px solid #E1B1BD; }
.list th{ 
    background: transparent url(../images/pink_hearts_theme/action_bar_bg.jpg) repeat-x;
    color:#000;
}
.list td { border-right:1px solid #E1B1BD; }
.list td { background-color:#fff; }
.list tr.altrow td { background-color:#FCF2F3; }
.list .asc { 
    background: transparent url(../images/pink_hearts_theme/arrow_up.png) no-repeat;
}
.list .desc { 
    background: transparent url(../images/pink_hearts_theme/arrow_down.png) repeat-x;
}